<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h1>Komputer zgaduje liczbę:</h1>
    <h1>{{ guess }}</h1>
    <form method="post">
        <input type="submit" name="result" value="Za mało">
        <input type="submit" name="result" value="Za dużo">
        <input type="submit" name="result" value="Zgadłeś">
        <input type="hidden" name="min" value="{{ min }}">
        <input type="hidden" name="max" value="{{ max }}">
    </form>
</body>
</html>